Source: ros-jazzy-py-binding-tools
Section: misc
Priority: optional
Maintainer: Robert Haschke <rhaschke@techfak.uni-bielefeld.de>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-ament-cmake-pytest <!nocheck>, ros-jazzy-ament-cmake-python, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-ament-lint-common <!nocheck>, ros-jazzy-geometry-msgs, ros-jazzy-pybind11-vendor, ros-jazzy-rclcpp, ros-jazzy-rclpy <!nocheck>, ros-jazzy-std-msgs <!nocheck>, ros-jazzy-ros-workspace
Homepage: http://wiki.ros.org/py_binding_tools
Standards-Version: 3.9.2

Package: ros-jazzy-py-binding-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-geometry-msgs, ros-jazzy-pybind11-vendor, ros-jazzy-rclcpp, ros-jazzy-ros-workspace
Description: Python binding tools for C++
