Source: ros-noetic-py-binding-tools
Section: misc
Priority: optional
Maintainer: Robert Haschke <rhaschke@techfak.uni-bielefeld.de>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-geometry-msgs, ros-noetic-pybind11-catkin, ros-noetic-roscpp
Homepage: http://wiki.ros.org/py_binding_tools
Standards-Version: 3.9.2

Package: ros-noetic-py-binding-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-geometry-msgs, ros-noetic-roscpp
Description: Python binding tools for C++
